/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* Set every element's box-sizing to border-box */
* {
    box-sizing: border-box;
}

html, body {
    height: 100%;
    font-family: 'Titillium Web', sans-serif;
}

h1, h2, h3, h4, h5 {
    font-family: 'Bangers', cursive;
    letter-spacing: 1px;
    margin-bottom: 15px;
}

/* Your code starts here! */

hr {
	width: 85%;
}

/* start header CSS */

header {
	text-align: center;
	box-sizing: border-box;
}

header nav {
	display: inline-block;
	margin: 30px 0px;
	width: 75%;
}

nav a {
	display: inline-block;
	width: 10%;
	text-align: center;
	text-decoration: none;
	color: gray;
}

/* end of header CSS start intro CSS*/

.intro {	
	/*text-align: center;
	margin: 20px 0px 20px 0px;*/

	text-align: center;
	margin-bottom: 100px;
	vertical-align: top;
}

.intro section {
	display: inline-block;
	width: 20%;
	
}


.intro img {
	width: 80%;
	height: 80%;
}

.intro .intro-a {
	text-align: center;
	margin-bottom: 20px;
	
}

.intro .intro-a h1{
	font-size: 150%;
	margin-top: 10%;
}

/* end intro CSS start company CSS*/

.company-info-a {
	text-align: center;
	margin: 20px 0px 20px 0px;
	
}

.company-info-a section{
	display: inline-block;
	text-align: left;
	width: 42%;

}

.company-info-b {
	text-align: center;
	margin: 20px 0px 20px 0px;
}

.company-info-b section {
	display: inline-block;
	text-align: left;
	width: 28%;
	
}

/* end company CSS* start more code image CSS*/

.more-code {
	text-align: center;		
}

.more-code img {
	width: 85%
}

/* end more code image CSS* start my-footer CSS*/

.my-footer {
	text-align: left;
	width: 95%;
	margin-left: 8%;
}

.my-footer section {
	width: 89%;
}

/* end my-footer CSS* start copyright CSS*/

.copyright {
	text-align: center;
}

/* end copyright CSS start button style*/

button {
	background-color: white;
	border: 1px solid black;
	width: 50%;
	height: 35px;
	font-size: 18px;
  }

  button p {
	  width: 50%;
  }


/* end button CSS */









 




